* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.8rem;
}

strong {
  color: hsl(227, 10%, 46%)
}

p, span {
  color: hsl(0, 0%, 59%);
}

.container {
  margin: auto;
}

.container .card-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container .card-container .card-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  text-align: center;
  background: white;

  border-radius: 2rem;
}

.container .card-container .card-content > img {
  border-radius: 2rem 2rem 0 0;
}

.container .card-container .card-content .user-profile {
  display: flex;
  flex-direction: column;
  margin-top: -5rem;

  justify-items: center;
  align-items: center;
  margin-bottom: 2rem;
}

.container .card-container .card-content .user-profile img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 2rem;
}

.container .card-container .card-content .user-profile div {
  margin-bottom: 1rem;
}

.container .card-container .card-content .user-status {
  display: flex;

}

.container .card-container .card-content .user-status div {
  display: flex;
  flex-direction: column;
}

.container .card-container .card-content .user-status div + div {
  margin-left: 3rem;
}