* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.8rem;
  background: hsl(185, 75%, 39%) url("./images/bg-pattern-bottom.svg") no-repeat 50vw 50vh;
}

.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: 0;
  background-image: url("./images/bg-pattern-top.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

strong {
  color: hsl(229, 23%, 23%)
}

p, span {
  color: hsl(227, 10%, 46%);
}

.container .card-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  text-align: center;
  background: white;

  border-radius: 2rem;
}

.container .card-content > img {
  border-radius: 2rem 2rem 0 0;
}

.container .card-content .user-profile {
  display: flex;
  flex-direction: column;
  margin-top: -5rem;

  justify-items: center;
  align-items: center;
  margin-bottom: 2rem;
}

.container .card-content .user-profile img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 0.4rem solid white;
  margin-bottom: 2rem;
}

.container .card-content .user-profile div {
  margin-bottom: 1rem;
}

.container .card-content .user-profile p {
  font-size: 1.5rem;
}

.container .card-content .user-status {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  padding: 2.5rem;

  border-top: 0.15rem solid hsl(0, 0%, 59%);
}

.container .card-content .user-status div {
  display: flex;
  flex-direction: column;
}

.container .card-content .user-status div + div {
  margin-left: 3rem;
}

.container .card-content .user-status span {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
